// Body-wide styles
$body_background: #dce8eb;
$white_colour: #fff;
$black_colour: #000;

// Header styles
$header-bottom: #333;
$header_background: #10445b;

// General box styles
$box_border: #c8d5d8;
$box_background: $white_colour;
$box_shadow: #d1dcde;

// Menu styles
$menu_head_background: #10445b;
$menu_head_text: $white_colour;
$menu_hover: #efefef;

// Code snippet styles
$code_background: #f9f2f4;

// Component box styles
$component_title: #10445b;
$mirror_title_background: #333;
$mirror_title_text: $white_colour;

// Card Sample styles
$card_border: #322c7c;
$card_background: #423c90;
$card_shadow: #737373;
$card_photo_shadow: #322c7c;
$card_name: $white_colour;
$card_job: #9E97F7;
$card_quote: #C7C7C7;

// Table Sample styles
$table_border: #ccc;
$table_head_background: #f75e10;
$table_head_text: $white_colour;
$table_icon_contracted: $white_colour;
$table_icon_expanded: #f75e10;