@import "../../core/_variables.scss";
@import "../../core/_mixins.scss";

.homepage {
    padding: 30px 0;

    .menu, .detail {
        background-color: $box_background;
        border: 1px solid $box_border;
        box-shadow: 2px 2px 5px $box_shadow;
    }

    .menu {
        .head {
            background-color: $menu_head_background;
            color: $menu_head_text;
            padding: 15px;
            font-weight: bold;
            font-size: 18px;
        }

        .items {
            .item {
                padding: 8px 15px;
                text-decoration: underline;
                cursor: pointer;
                -moz-transition: all 0.5s ease-out;
                -o-transition: all 0.5s ease-out;
                -webkit-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;

                &:hover {
                    background-color: $menu_hover;
                    font-weight: bold;
                }
            }
        }
    }
      
    p.code-bit {
        background-color: $code_background;
    }

    .detail {
        .title {
            padding: 15px;
            color: $component_title;
            font-size: 25px;
            font-weight: bold;
        }

        .writeup {
            padding: 8px 15px 15px 15px;

            .mirror {
                .title {
                    font-size: 10px;
                    padding: 3px 10px 2px 10px;
                    background-color: $mirror_title_background;
                    color: $mirror_title_text;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
                .block {
                    padding: 10px;
                    border: 1px solid $mirror_title_background;
                    font-family: Courier New, Courier, monospace;
                    background-color: $code_background;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    
                    .tab {
                        display: inline-block;
                        width: 25px;
                        height: 1px;
                    }                 
                }
            }
        }
    }

}

.sample {
    padding: 15px;

    .card {
        border: 1px solid $card_border;
        border-radius: 2px;
        background-color: $card_background;
        box-shadow: 2px 2px 10px $card_shadow;
        max-width: 400px;

        .top {            

            .photo {
                display: inline-block;
                width: 140px;
                height: 140px;
                padding: 20px;
                vertical-align: top;

                .inner {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    background-image: url('../../../images/megs.jpg');
                    box-shadow: 2px 2px 5px $card_photo_shadow;
                }
            }

            .name {
                display: inline-block;
                width: calc(100% - 150px);
                height: 140px;
                vertical-align: top;
                padding: 20px 20px 20px 0;
                color: $card_name;
                font-size: 30px;
                font-weight: bold;

                .designation {
                    font-size: 12px;
                    font-weight: normal;
                    color: $card_job;
                }

                .quote {
                    padding-top: 10px;
                    font-size: 16px;
                    color: $card_quote;
                    font-style: italic;
                    font-weight: bold;
                }
            }
        }
    }

    table.responsive {
        width: 100%;

        tbody {
            border-bottom: 1px solid $table_border;
            border-right: 1px solid $table_border;
            border-left: 1px solid $table_border;

            &:first-of-type {
                border-top: 1px solid $table_border;
            }

            tr.name {
                background-color: $table_head_background;
                color: $table_head_text;
                font-weight: bold;

                td {
                    padding: 2px 8px;
                }
            }

            tr.head-top {
                font-weight: bold;

                td {
                    padding: 3px 0;

                    &:first-of-type {
                        padding-left: 8px;
                    }

                    &.icon {
                        width: 38px;
                        cursor: pointer;

                        i.fa-ellipsis-h {
                            @include black-stroke();
                            font-size: 30px;
                            color: $table_icon_contracted;                            

                            &.expanded {
                                color: $table_icon_expanded;
                            }
                        }
                    }
                }
            }

            tr.data-top, tr.head-bottom, tr.data-bottom {
                
                td {
                    padding: 0 0 3px 0;

                    &:first-of-type {
                        padding-left: 8px;
                    }
                }
            }

            tr.head-bottom {
                font-weight: bold;
            }

        }

    }
}